html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  min-height: 100vh;
  padding-top: 90px;
  padding-bottom: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $Light-Gray;
}

.container {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.main-heading {
  text-align: center;
  color: $Dark-Blue;

  span {
    font-weight: 200;
    color: $Grayish-Blue;
  }
}

.main-text {
  text-align: center;
  color: $Grayish-Blue;
  margin-bottom: 30px;
  max-width: 520px;
  margin-bottom: 80px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    '. . team-builder team-builder . .'
    'supervisor supervisor team-builder team-builder calculator calculator'
    'supervisor supervisor karma karma calculator calculator'
    '. . karma karma . .';
  grid-gap: 30px;
  place-items: center;
  margin-bottom: 2rem;
}

.card {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 10px 15px 0px hsla(234, 12%, 34%, 0.1);
  max-width: 360px;
  transform-style: preserve-3d;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  &__header {
    color: $Dark-Blue;
  }

  &__text {
    color: $Grayish-Blue;
    padding-bottom: 45px;
  }

  &__img {
    width: 65px;
    height: 65px;
    align-self: flex-end;

    img {
      max-width: 100%;
    }
  }

  &:hover > * {
    transform: translateZ(30px);
  }
}

.supervisor {
  grid-area: supervisor;

  &::before {
    background-color: $Cyan;
  }
}

.team-builder {
  grid-area: team-builder;

  &::before {
    background-color: $Red;
  }
}

.karma {
  grid-area: karma;

  &::before {
    background-color: $Orange;
  }
}

.calculator {
  grid-area: calculator;

  &::before {
    background-color: $Blue;
  }
}
